{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<div class="container wrapper">

    

    
</div>

{{!-- Include Comments 
{{#if access}}
  {{> comments}}
{{/if}} --}}

{{!-- Related posts --}}

{{/post}}
