{{!< default}}

{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
{{> page-hero}}

<div class="container wrapper">
  <article class="{{post_class}} content-wrap post-access-{{visibility}}">
    <div class="content">
        {{content}}
    </div>
  </article>
</div>
{{/post}}





    {{!-- Load more posts --}}
    <div class="col-xs-12 center-xs m-t-lg">
      <button class="btn btn--wide btn--shadow btn--brand js-load-more" onclick="loadMorePosts(this)">
        {{t "Load more Market Reports"}}
      </button>
    </div>

    
    
    
    
    
    
    
